body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
/* top line header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  background: #fff;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo-tech {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.list-header {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 40px;
}
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}
.item-contacts {
  font-style: normal;
  display: flex;
  align-items: center;
  margin: 35px 0 24px 332px;
}
.list-header-contacts {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/* main seccion 1  */
.box-solutions {
  background: #2e2f42;
  padding: 188px 0;
}
.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 188px 472px 48px 472px;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0px 635px 188px 636px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* main seccion 2 */
.box-features {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-features {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.list-features {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 24px;
}
.list-features-item {
  width: calc((100% - 72px) / 4);
}
.title-points {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  margin-bottom: 8px;
}
.title-descri {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* main seccion 3 */
.box-team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-card {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% -72px) / 4);
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  text-align: center;
  margin-bottom: 8px;
}
.list-team {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 24px;
}
.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* main seccion 4 */
.box-portfolio {
  text-decoration: none;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-portfolio {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-portfolio-item {
  width: calc((100% - 48px) / 3);
}
.project-name-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-tech-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.descri-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* container */
.container-header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.container {
  align-items: center;
}
.container-team {
  padding: 32px 0;
}
.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
